*{
    margin: 0;
    padding: 0;
}

#wrap{
    width: 500px;
    min-height: 30px;
    /*margin: 0 auto;*/
    background-color: #333;
    padding-bottom: 20px;
    color: #ffffff;
}

#header{
    background-color: #2aabd2;
    padding: 5px;
    text-align: center;
    color: #ffffff;
}

.btn-primary{
    background-color: #2aabd2;
}

#menu{
    padding: 5px;
    margin-bottom: 10px;
}

.btn-tab{
    margin-right: -5px !important;
    border: none;
}

.no-rad{
    border-radius: 0;
}

#arrival, #departure,#options{
    width: 100%;
    margin: 0 auto;
}

#departure .input-group-addon{
    color: #449d44;
}

#arrival .input-group-addon{
    color: #c12e2a;
}

#submit{
    width: 100%;
    margin: 0 auto;
}